ultralytics>=8.3.146

tensorflow

torch>=2.6.0

opencv-python-headless

tensorflow>=2.0.0

tf-keras

onnx==1.17.0

onnxruntime

onnx_graphsurgeon>=0.3.26

sng4onnx>=1.0.1

onnx2tf>=1.26.3

onnxslim>=0.1.53

ai-edge-litert>=1.2.0